<!DOCTYPE html>
<html lang="en">

<head>
  <!-- META TAG START HERE -->
  <meta charset="UTF-8">
  <meta name="title" content="Gymfit.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <meta name=theme-color content="#ffd220" />
  <meta name="description"
    content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="site_url">
  <meta property="og:title" content="Gymfit.com">
  <meta property="og:description"
    content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
  <meta property="og:image" content="https://site_url.com/assets/images/thumbnail.webp">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://site_url.com">
  <meta property="twitter:title" content="Gymfit.com">
  <meta property="twitter:description"
    content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
  <meta property="twitter:image" content="https://site_url.com/assets/images/thumbnail.webp">
  <!-- META TAG END'S HERE -->

  <!-- Page title -->
  <title>Gymfit.com</title>
  <!-- Favicon -->
  <link href="assets/images/favicon.svg" rel="shortcut icon" type="image/x-icon">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- CSS Links -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/app.css">

  <script>
    const hasSupport = 'loading' in HTMLImageElement.prototype;
    document.documentElement.className = hasSupport ? 'pass' : 'fail';
  </script>
</head>

<body>
  <!-- LOADER START HERE -->
  <div class="page_loader">
    <img loading='lazy' src="assets/images/loader.svg" alt="img">
  </div>
  <!-- LOADER END HERE -->
  <!-- Header start -->
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg">
      <button class="desk_btn toggle-btn" type="button">
        <svg viewBox="0 0 64 48">
          <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
          <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
          <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
        </svg>
      </button>
      <div class="logo">
        <a class="navbar-brand" href="index.html"> <img loading='lazy' src="assets/images/logo.svg" alt="logo"
            width="130" height="28"></a>
      </div>
      <button class="navbar-toggler mob collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
        aria-label="Toggle navigation">
        <i id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
        </i>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav tabActive ms-auto navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about-us.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#courses">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="schedule.html">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="team.html">Team</a>
          </li>
          <li class="nav-item me-0">
            <a class="nav-link btn" href="contact-us.html">Contact us</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Header End -->
  <!-- SIDENAV STARTS -->
  <div class="side-nav">
    <div class="close-menu"><img loading='lazy' src="assets/images/icons/close.svg" alt="Close"></div>
    <div class="sidebar_text">
      <div class="textwidget">
        <p>Lorem ipsum dolor sit amet, consectetur<br>
          adipiscing elit. Pellentesque vitae nunc ut<br>
          dolor sagittis euismod eget sit amet erat.<br>
          Mauris porta. Lorem ipsum dolor.</p>
      </div>
      <div class="textwidget mt-4">
        <h2>Working hours</h2>
        <p>Monday – Friday:<br>07:00 – 21:00</p>
        <p>Saturday:<br>
          07:00 – 16:00</p>
        <p>Sunday Closed</p>
      </div>
    </div>
  </div>
  <!-- SIDENAV End -->
  <div class="main-wrapper">
    <!-- BREADCRUMB START HERE -->
    <section class="section-wrapper breadcrums-section trainer-breadcrumb">
      <div class="container custom-container">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12">
            <div class="section-title">
              <h1>Trainers</h1>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><img loading='lazy' src="assets/images/icons/down-arrow.webp" alt="icon"></li>
                <li>Trainers</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- BREADCRUMB END'S HERE -->
    <!-- Expert start -->
    <section class="expert trainer_section section-wrapper">
      <div class="container">
        <div class="heading text-center">
          <h3>Professional <span>Team</span></h3>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="expert-details ">
              <img loading='lazy' src="assets/images/expert/expert_1.webp" class="exp_img" alt="">
              <div class="content">
                <span>gym coach</span>
                <h2>David Michel</h2>
                <div class="icon_block d-flex align-items-center justify-content-center">
                  <a href="#"><svg class="icon" width="8.876" height="16.28" viewBox="0 0 8.876 16.28">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M175.105,5610.36h-2.13a3.72,3.72,0,0,0-3.939,4v1.85H166.9a0.334,0.334,0,0,0-.335.33v2.68a0.334,0.334,0,0,0,.335.33h2.141v6.76a0.334,0.334,0,0,0,.335.33h2.794a0.334,0.334,0,0,0,.335-0.33v-6.76H175a0.334,0.334,0,0,0,.335-0.33v-2.68a0.333,0.333,0,0,0-.1-0.23,0.35,0.35,0,0,0-.237-0.1h-2.5v-1.56a0.95,0.95,0,0,1,1.17-1.14h1.435a0.334,0.334,0,0,0,.335-0.33v-2.49A0.334,0.334,0,0,0,175.105,5610.36Z"
                        transform="translate(-166.562 -5610.34)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16" height="13" viewBox="0 0 16 13">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M209.559,5612.24a6.812,6.812,0,0,1-2.086.8,3.284,3.284,0,0,0-5.593,2.99,9.352,9.352,0,0,1-6.766-3.43,3.287,3.287,0,0,0,1.016,4.38,3.381,3.381,0,0,1-1.486-.41v0.04a3.286,3.286,0,0,0,2.632,3.22,3.5,3.5,0,0,1-.864.11,3.151,3.151,0,0,1-.618-0.06,3.268,3.268,0,0,0,3.065,2.28,6.592,6.592,0,0,1-4.076,1.41,6.745,6.745,0,0,1-.783-0.05,9.328,9.328,0,0,0,14.37-7.86l-0.01-.43a6.685,6.685,0,0,0,1.64-1.69,6.61,6.61,0,0,1-1.885.51A3.288,3.288,0,0,0,209.559,5612.24Z"
                        transform="translate(-194 -5612)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16.062" height="16.06" viewBox="0 0 16.062 16.06">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M236.011,5609.97h-6.022a5.021,5.021,0,0,0-5.019,5.02v6.02a5.021,5.021,0,0,0,5.019,5.02h6.022a5.022,5.022,0,0,0,5.019-5.02v-6.02A5.022,5.022,0,0,0,236.011,5609.97Zm3.513,11.04a3.513,3.513,0,0,1-3.513,3.51h-6.022a3.512,3.512,0,0,1-3.513-3.51v-6.02a3.52,3.52,0,0,1,3.513-3.52h6.022a3.521,3.521,0,0,1,3.513,3.52v6.02ZM233,5613.98a4.015,4.015,0,1,0,4.015,4.02A4.017,4.017,0,0,0,233,5613.98Zm0,6.53a2.51,2.51,0,1,1,2.509-2.51A2.515,2.515,0,0,1,233,5620.51Zm4.316-7.36a0.535,0.535,0,1,1-.535.53A0.534,0.534,0,0,1,237.316,5613.15Z"
                        transform="translate(-224.969 -5609.97)" />
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="expert-details ">
              <img loading='lazy' src="assets/images/expert/expert_2.webp" class="exp_img" alt="">
              <div class="content">
                <span>cardio coach</span>
                <h2>James Feddi</h2>
                <div class="icon_block d-flex align-items-center justify-content-center">
                  <a href="#"><svg class="icon" width="8.876" height="16.28" viewBox="0 0 8.876 16.28">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M175.105,5610.36h-2.13a3.72,3.72,0,0,0-3.939,4v1.85H166.9a0.334,0.334,0,0,0-.335.33v2.68a0.334,0.334,0,0,0,.335.33h2.141v6.76a0.334,0.334,0,0,0,.335.33h2.794a0.334,0.334,0,0,0,.335-0.33v-6.76H175a0.334,0.334,0,0,0,.335-0.33v-2.68a0.333,0.333,0,0,0-.1-0.23,0.35,0.35,0,0,0-.237-0.1h-2.5v-1.56a0.95,0.95,0,0,1,1.17-1.14h1.435a0.334,0.334,0,0,0,.335-0.33v-2.49A0.334,0.334,0,0,0,175.105,5610.36Z"
                        transform="translate(-166.562 -5610.34)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16" height="13" viewBox="0 0 16 13">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M209.559,5612.24a6.812,6.812,0,0,1-2.086.8,3.284,3.284,0,0,0-5.593,2.99,9.352,9.352,0,0,1-6.766-3.43,3.287,3.287,0,0,0,1.016,4.38,3.381,3.381,0,0,1-1.486-.41v0.04a3.286,3.286,0,0,0,2.632,3.22,3.5,3.5,0,0,1-.864.11,3.151,3.151,0,0,1-.618-0.06,3.268,3.268,0,0,0,3.065,2.28,6.592,6.592,0,0,1-4.076,1.41,6.745,6.745,0,0,1-.783-0.05,9.328,9.328,0,0,0,14.37-7.86l-0.01-.43a6.685,6.685,0,0,0,1.64-1.69,6.61,6.61,0,0,1-1.885.51A3.288,3.288,0,0,0,209.559,5612.24Z"
                        transform="translate(-194 -5612)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16.062" height="16.06" viewBox="0 0 16.062 16.06">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M236.011,5609.97h-6.022a5.021,5.021,0,0,0-5.019,5.02v6.02a5.021,5.021,0,0,0,5.019,5.02h6.022a5.022,5.022,0,0,0,5.019-5.02v-6.02A5.022,5.022,0,0,0,236.011,5609.97Zm3.513,11.04a3.513,3.513,0,0,1-3.513,3.51h-6.022a3.512,3.512,0,0,1-3.513-3.51v-6.02a3.52,3.52,0,0,1,3.513-3.52h6.022a3.521,3.521,0,0,1,3.513,3.52v6.02ZM233,5613.98a4.015,4.015,0,1,0,4.015,4.02A4.017,4.017,0,0,0,233,5613.98Zm0,6.53a2.51,2.51,0,1,1,2.509-2.51A2.515,2.515,0,0,1,233,5620.51Zm4.316-7.36a0.535,0.535,0,1,1-.535.53A0.534,0.534,0,0,1,237.316,5613.15Z"
                        transform="translate(-224.969 -5609.97)" />
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="expert-details ">
              <img loading='lazy' src="assets/images/expert/expert_3.webp" class="exp_img" alt="">
              <div class="content">
                <span>crossfit coach</span>
                <h2>Samantha Gains</h2>
                <div class="icon_block d-flex align-items-center justify-content-center">
                  <a href="#"><svg class="icon" width="8.876" height="16.28" viewBox="0 0 8.876 16.28">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M175.105,5610.36h-2.13a3.72,3.72,0,0,0-3.939,4v1.85H166.9a0.334,0.334,0,0,0-.335.33v2.68a0.334,0.334,0,0,0,.335.33h2.141v6.76a0.334,0.334,0,0,0,.335.33h2.794a0.334,0.334,0,0,0,.335-0.33v-6.76H175a0.334,0.334,0,0,0,.335-0.33v-2.68a0.333,0.333,0,0,0-.1-0.23,0.35,0.35,0,0,0-.237-0.1h-2.5v-1.56a0.95,0.95,0,0,1,1.17-1.14h1.435a0.334,0.334,0,0,0,.335-0.33v-2.49A0.334,0.334,0,0,0,175.105,5610.36Z"
                        transform="translate(-166.562 -5610.34)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16" height="13" viewBox="0 0 16 13">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M209.559,5612.24a6.812,6.812,0,0,1-2.086.8,3.284,3.284,0,0,0-5.593,2.99,9.352,9.352,0,0,1-6.766-3.43,3.287,3.287,0,0,0,1.016,4.38,3.381,3.381,0,0,1-1.486-.41v0.04a3.286,3.286,0,0,0,2.632,3.22,3.5,3.5,0,0,1-.864.11,3.151,3.151,0,0,1-.618-0.06,3.268,3.268,0,0,0,3.065,2.28,6.592,6.592,0,0,1-4.076,1.41,6.745,6.745,0,0,1-.783-0.05,9.328,9.328,0,0,0,14.37-7.86l-0.01-.43a6.685,6.685,0,0,0,1.64-1.69,6.61,6.61,0,0,1-1.885.51A3.288,3.288,0,0,0,209.559,5612.24Z"
                        transform="translate(-194 -5612)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16.062" height="16.06" viewBox="0 0 16.062 16.06">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M236.011,5609.97h-6.022a5.021,5.021,0,0,0-5.019,5.02v6.02a5.021,5.021,0,0,0,5.019,5.02h6.022a5.022,5.022,0,0,0,5.019-5.02v-6.02A5.022,5.022,0,0,0,236.011,5609.97Zm3.513,11.04a3.513,3.513,0,0,1-3.513,3.51h-6.022a3.512,3.512,0,0,1-3.513-3.51v-6.02a3.52,3.52,0,0,1,3.513-3.52h6.022a3.521,3.521,0,0,1,3.513,3.52v6.02ZM233,5613.98a4.015,4.015,0,1,0,4.015,4.02A4.017,4.017,0,0,0,233,5613.98Zm0,6.53a2.51,2.51,0,1,1,2.509-2.51A2.515,2.515,0,0,1,233,5620.51Zm4.316-7.36a0.535,0.535,0,1,1-.535.53A0.534,0.534,0,0,1,237.316,5613.15Z"
                        transform="translate(-224.969 -5609.97)" />
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="expert-details ">
              <img loading='lazy' src="assets/images/expert/expert_4.webp" class="exp_img" alt="">
              <div class="content">
                <span>zumba coach</span>
                <h2>Matthew Ethan</h2>
                <div class="icon_block d-flex align-items-center justify-content-center">
                  <a href="#"><svg class="icon" width="8.876" height="16.28" viewBox="0 0 8.876 16.28">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M175.105,5610.36h-2.13a3.72,3.72,0,0,0-3.939,4v1.85H166.9a0.334,0.334,0,0,0-.335.33v2.68a0.334,0.334,0,0,0,.335.33h2.141v6.76a0.334,0.334,0,0,0,.335.33h2.794a0.334,0.334,0,0,0,.335-0.33v-6.76H175a0.334,0.334,0,0,0,.335-0.33v-2.68a0.333,0.333,0,0,0-.1-0.23,0.35,0.35,0,0,0-.237-0.1h-2.5v-1.56a0.95,0.95,0,0,1,1.17-1.14h1.435a0.334,0.334,0,0,0,.335-0.33v-2.49A0.334,0.334,0,0,0,175.105,5610.36Z"
                        transform="translate(-166.562 -5610.34)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16" height="13" viewBox="0 0 16 13">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M209.559,5612.24a6.812,6.812,0,0,1-2.086.8,3.284,3.284,0,0,0-5.593,2.99,9.352,9.352,0,0,1-6.766-3.43,3.287,3.287,0,0,0,1.016,4.38,3.381,3.381,0,0,1-1.486-.41v0.04a3.286,3.286,0,0,0,2.632,3.22,3.5,3.5,0,0,1-.864.11,3.151,3.151,0,0,1-.618-0.06,3.268,3.268,0,0,0,3.065,2.28,6.592,6.592,0,0,1-4.076,1.41,6.745,6.745,0,0,1-.783-0.05,9.328,9.328,0,0,0,14.37-7.86l-0.01-.43a6.685,6.685,0,0,0,1.64-1.69,6.61,6.61,0,0,1-1.885.51A3.288,3.288,0,0,0,209.559,5612.24Z"
                        transform="translate(-194 -5612)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16.062" height="16.06" viewBox="0 0 16.062 16.06">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M236.011,5609.97h-6.022a5.021,5.021,0,0,0-5.019,5.02v6.02a5.021,5.021,0,0,0,5.019,5.02h6.022a5.022,5.022,0,0,0,5.019-5.02v-6.02A5.022,5.022,0,0,0,236.011,5609.97Zm3.513,11.04a3.513,3.513,0,0,1-3.513,3.51h-6.022a3.512,3.512,0,0,1-3.513-3.51v-6.02a3.52,3.52,0,0,1,3.513-3.52h6.022a3.521,3.521,0,0,1,3.513,3.52v6.02ZM233,5613.98a4.015,4.015,0,1,0,4.015,4.02A4.017,4.017,0,0,0,233,5613.98Zm0,6.53a2.51,2.51,0,1,1,2.509-2.51A2.515,2.515,0,0,1,233,5620.51Zm4.316-7.36a0.535,0.535,0,1,1-.535.53A0.534,0.534,0,0,1,237.316,5613.15Z"
                        transform="translate(-224.969 -5609.97)" />
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="expert-details mb-lg-0">
              <img loading='lazy' src="assets/images/expert/expert_5.webp" class="exp_img" alt="">
              <div class="content">
                <span>body building</span>
                <h2>Jashon Smith</h2>
                <div class="icon_block d-flex align-items-center justify-content-center">
                  <a href="#"><svg class="icon" width="8.876" height="16.28" viewBox="0 0 8.876 16.28">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M175.105,5610.36h-2.13a3.72,3.72,0,0,0-3.939,4v1.85H166.9a0.334,0.334,0,0,0-.335.33v2.68a0.334,0.334,0,0,0,.335.33h2.141v6.76a0.334,0.334,0,0,0,.335.33h2.794a0.334,0.334,0,0,0,.335-0.33v-6.76H175a0.334,0.334,0,0,0,.335-0.33v-2.68a0.333,0.333,0,0,0-.1-0.23,0.35,0.35,0,0,0-.237-0.1h-2.5v-1.56a0.95,0.95,0,0,1,1.17-1.14h1.435a0.334,0.334,0,0,0,.335-0.33v-2.49A0.334,0.334,0,0,0,175.105,5610.36Z"
                        transform="translate(-166.562 -5610.34)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16" height="13" viewBox="0 0 16 13">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M209.559,5612.24a6.812,6.812,0,0,1-2.086.8,3.284,3.284,0,0,0-5.593,2.99,9.352,9.352,0,0,1-6.766-3.43,3.287,3.287,0,0,0,1.016,4.38,3.381,3.381,0,0,1-1.486-.41v0.04a3.286,3.286,0,0,0,2.632,3.22,3.5,3.5,0,0,1-.864.11,3.151,3.151,0,0,1-.618-0.06,3.268,3.268,0,0,0,3.065,2.28,6.592,6.592,0,0,1-4.076,1.41,6.745,6.745,0,0,1-.783-0.05,9.328,9.328,0,0,0,14.37-7.86l-0.01-.43a6.685,6.685,0,0,0,1.64-1.69,6.61,6.61,0,0,1-1.885.51A3.288,3.288,0,0,0,209.559,5612.24Z"
                        transform="translate(-194 -5612)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16.062" height="16.06" viewBox="0 0 16.062 16.06">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M236.011,5609.97h-6.022a5.021,5.021,0,0,0-5.019,5.02v6.02a5.021,5.021,0,0,0,5.019,5.02h6.022a5.022,5.022,0,0,0,5.019-5.02v-6.02A5.022,5.022,0,0,0,236.011,5609.97Zm3.513,11.04a3.513,3.513,0,0,1-3.513,3.51h-6.022a3.512,3.512,0,0,1-3.513-3.51v-6.02a3.52,3.52,0,0,1,3.513-3.52h6.022a3.521,3.521,0,0,1,3.513,3.52v6.02ZM233,5613.98a4.015,4.015,0,1,0,4.015,4.02A4.017,4.017,0,0,0,233,5613.98Zm0,6.53a2.51,2.51,0,1,1,2.509-2.51A2.515,2.515,0,0,1,233,5620.51Zm4.316-7.36a0.535,0.535,0,1,1-.535.53A0.534,0.534,0,0,1,237.316,5613.15Z"
                        transform="translate(-224.969 -5609.97)" />
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="expert-details mb-lg-0">
              <img loading='lazy' src="assets/images/expert/expert_6.webp" class="exp_img" alt="">
              <div class="content">
                <span>yoga</span>
                <h2>Natalia Clark</h2>
                <div class="icon_block d-flex align-items-center justify-content-center">
                  <a href="#"><svg class="icon" width="8.876" height="16.28" viewBox="0 0 8.876 16.28">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M175.105,5610.36h-2.13a3.72,3.72,0,0,0-3.939,4v1.85H166.9a0.334,0.334,0,0,0-.335.33v2.68a0.334,0.334,0,0,0,.335.33h2.141v6.76a0.334,0.334,0,0,0,.335.33h2.794a0.334,0.334,0,0,0,.335-0.33v-6.76H175a0.334,0.334,0,0,0,.335-0.33v-2.68a0.333,0.333,0,0,0-.1-0.23,0.35,0.35,0,0,0-.237-0.1h-2.5v-1.56a0.95,0.95,0,0,1,1.17-1.14h1.435a0.334,0.334,0,0,0,.335-0.33v-2.49A0.334,0.334,0,0,0,175.105,5610.36Z"
                        transform="translate(-166.562 -5610.34)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16" height="13" viewBox="0 0 16 13">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M209.559,5612.24a6.812,6.812,0,0,1-2.086.8,3.284,3.284,0,0,0-5.593,2.99,9.352,9.352,0,0,1-6.766-3.43,3.287,3.287,0,0,0,1.016,4.38,3.381,3.381,0,0,1-1.486-.41v0.04a3.286,3.286,0,0,0,2.632,3.22,3.5,3.5,0,0,1-.864.11,3.151,3.151,0,0,1-.618-0.06,3.268,3.268,0,0,0,3.065,2.28,6.592,6.592,0,0,1-4.076,1.41,6.745,6.745,0,0,1-.783-0.05,9.328,9.328,0,0,0,14.37-7.86l-0.01-.43a6.685,6.685,0,0,0,1.64-1.69,6.61,6.61,0,0,1-1.885.51A3.288,3.288,0,0,0,209.559,5612.24Z"
                        transform="translate(-194 -5612)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16.062" height="16.06" viewBox="0 0 16.062 16.06">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M236.011,5609.97h-6.022a5.021,5.021,0,0,0-5.019,5.02v6.02a5.021,5.021,0,0,0,5.019,5.02h6.022a5.022,5.022,0,0,0,5.019-5.02v-6.02A5.022,5.022,0,0,0,236.011,5609.97Zm3.513,11.04a3.513,3.513,0,0,1-3.513,3.51h-6.022a3.512,3.512,0,0,1-3.513-3.51v-6.02a3.52,3.52,0,0,1,3.513-3.52h6.022a3.521,3.521,0,0,1,3.513,3.52v6.02ZM233,5613.98a4.015,4.015,0,1,0,4.015,4.02A4.017,4.017,0,0,0,233,5613.98Zm0,6.53a2.51,2.51,0,1,1,2.509-2.51A2.515,2.515,0,0,1,233,5620.51Zm4.316-7.36a0.535,0.535,0,1,1-.535.53A0.534,0.534,0,0,1,237.316,5613.15Z"
                        transform="translate(-224.969 -5609.97)" />
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="expert-details mb-lg-0">
              <img loading='lazy' src="assets/images/expert/expert_7.webp" class="exp_img" alt="">
              <div class="content">
                <span>Weight lifting</span>
                <h2>Nick Mathew</h2>
                <div class="icon_block d-flex align-items-center justify-content-center">
                  <a href="#"><svg class="icon" width="8.876" height="16.28" viewBox="0 0 8.876 16.28">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M175.105,5610.36h-2.13a3.72,3.72,0,0,0-3.939,4v1.85H166.9a0.334,0.334,0,0,0-.335.33v2.68a0.334,0.334,0,0,0,.335.33h2.141v6.76a0.334,0.334,0,0,0,.335.33h2.794a0.334,0.334,0,0,0,.335-0.33v-6.76H175a0.334,0.334,0,0,0,.335-0.33v-2.68a0.333,0.333,0,0,0-.1-0.23,0.35,0.35,0,0,0-.237-0.1h-2.5v-1.56a0.95,0.95,0,0,1,1.17-1.14h1.435a0.334,0.334,0,0,0,.335-0.33v-2.49A0.334,0.334,0,0,0,175.105,5610.36Z"
                        transform="translate(-166.562 -5610.34)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16" height="13" viewBox="0 0 16 13">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M209.559,5612.24a6.812,6.812,0,0,1-2.086.8,3.284,3.284,0,0,0-5.593,2.99,9.352,9.352,0,0,1-6.766-3.43,3.287,3.287,0,0,0,1.016,4.38,3.381,3.381,0,0,1-1.486-.41v0.04a3.286,3.286,0,0,0,2.632,3.22,3.5,3.5,0,0,1-.864.11,3.151,3.151,0,0,1-.618-0.06,3.268,3.268,0,0,0,3.065,2.28,6.592,6.592,0,0,1-4.076,1.41,6.745,6.745,0,0,1-.783-0.05,9.328,9.328,0,0,0,14.37-7.86l-0.01-.43a6.685,6.685,0,0,0,1.64-1.69,6.61,6.61,0,0,1-1.885.51A3.288,3.288,0,0,0,209.559,5612.24Z"
                        transform="translate(-194 -5612)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16.062" height="16.06" viewBox="0 0 16.062 16.06">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M236.011,5609.97h-6.022a5.021,5.021,0,0,0-5.019,5.02v6.02a5.021,5.021,0,0,0,5.019,5.02h6.022a5.022,5.022,0,0,0,5.019-5.02v-6.02A5.022,5.022,0,0,0,236.011,5609.97Zm3.513,11.04a3.513,3.513,0,0,1-3.513,3.51h-6.022a3.512,3.512,0,0,1-3.513-3.51v-6.02a3.52,3.52,0,0,1,3.513-3.52h6.022a3.521,3.521,0,0,1,3.513,3.52v6.02ZM233,5613.98a4.015,4.015,0,1,0,4.015,4.02A4.017,4.017,0,0,0,233,5613.98Zm0,6.53a2.51,2.51,0,1,1,2.509-2.51A2.515,2.515,0,0,1,233,5620.51Zm4.316-7.36a0.535,0.535,0,1,1-.535.53A0.534,0.534,0,0,1,237.316,5613.15Z"
                        transform="translate(-224.969 -5609.97)" />
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="expert-details mb-lg-0">
              <img loading='lazy' src="assets/images/expert/expert_8.webp" class="exp_img" alt="">
              <div class="content">
                <span>Diet</span>
                <h2>Sandy Williams</h2>
                <div class="icon_block d-flex align-items-center justify-content-center">
                  <a href="#"><svg class="icon" width="8.876" height="16.28" viewBox="0 0 8.876 16.28">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M175.105,5610.36h-2.13a3.72,3.72,0,0,0-3.939,4v1.85H166.9a0.334,0.334,0,0,0-.335.33v2.68a0.334,0.334,0,0,0,.335.33h2.141v6.76a0.334,0.334,0,0,0,.335.33h2.794a0.334,0.334,0,0,0,.335-0.33v-6.76H175a0.334,0.334,0,0,0,.335-0.33v-2.68a0.333,0.333,0,0,0-.1-0.23,0.35,0.35,0,0,0-.237-0.1h-2.5v-1.56a0.95,0.95,0,0,1,1.17-1.14h1.435a0.334,0.334,0,0,0,.335-0.33v-2.49A0.334,0.334,0,0,0,175.105,5610.36Z"
                        transform="translate(-166.562 -5610.34)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16" height="13" viewBox="0 0 16 13">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M209.559,5612.24a6.812,6.812,0,0,1-2.086.8,3.284,3.284,0,0,0-5.593,2.99,9.352,9.352,0,0,1-6.766-3.43,3.287,3.287,0,0,0,1.016,4.38,3.381,3.381,0,0,1-1.486-.41v0.04a3.286,3.286,0,0,0,2.632,3.22,3.5,3.5,0,0,1-.864.11,3.151,3.151,0,0,1-.618-0.06,3.268,3.268,0,0,0,3.065,2.28,6.592,6.592,0,0,1-4.076,1.41,6.745,6.745,0,0,1-.783-0.05,9.328,9.328,0,0,0,14.37-7.86l-0.01-.43a6.685,6.685,0,0,0,1.64-1.69,6.61,6.61,0,0,1-1.885.51A3.288,3.288,0,0,0,209.559,5612.24Z"
                        transform="translate(-194 -5612)" />
                    </svg></a>
                  <a href="#"><svg class="icon" width="16.062" height="16.06" viewBox="0 0 16.062 16.06">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #292929;
                            fill-rule: evenodd;
                          }
                        </style>
                      </defs>
                      <path id="Forma_1" data-name="Forma 1" class="cls-1"
                        d="M236.011,5609.97h-6.022a5.021,5.021,0,0,0-5.019,5.02v6.02a5.021,5.021,0,0,0,5.019,5.02h6.022a5.022,5.022,0,0,0,5.019-5.02v-6.02A5.022,5.022,0,0,0,236.011,5609.97Zm3.513,11.04a3.513,3.513,0,0,1-3.513,3.51h-6.022a3.512,3.512,0,0,1-3.513-3.51v-6.02a3.52,3.52,0,0,1,3.513-3.52h6.022a3.521,3.521,0,0,1,3.513,3.52v6.02ZM233,5613.98a4.015,4.015,0,1,0,4.015,4.02A4.017,4.017,0,0,0,233,5613.98Zm0,6.53a2.51,2.51,0,1,1,2.509-2.51A2.515,2.515,0,0,1,233,5620.51Zm4.316-7.36a0.535,0.535,0,1,1-.535.53A0.534,0.534,0,0,1,237.316,5613.15Z"
                        transform="translate(-224.969 -5609.97)" />
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Expert End -->
  </div>

  <!-- Footer start -->
  <footer class="wow fadeIn" data-wow-duration="1.5s">
    <div class="main-footer" id="foot-accordiun">
      <img loading='lazy' src="assets/images/footer-bg.webp" class="footer-bg" alt="Images">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-3">
            <div class="footer-about">
              <a href="index.html"><img loading='lazy' src="assets/images/footer-logo.svg" alt="Logo"></a>
              <p>ligula sed porta cursus, lectus ligula interdum tortor, vitae tempor leo eros lobortis ante.Integer
                semper, mentus in tincidunt euismod.</p>
              <div class="social-icon">
                <a href="#!" aria-label="Facebook"><img loading='lazy' src="assets/images/icons/facebook.svg"
                    alt="Icon"></a>
                <a href="#!" aria-label="Twitter"><img loading='lazy' src="assets/images/icons/twitter.svg"
                    alt="Icon"></a>
                <a href="#!" aria-label="Instagram"><img loading='lazy' src="assets/images/icons/instagram.svg"
                    alt="Icon"></a>
                <a href="#!" aria-label="Google Plus"><img loading='lazy' src="assets/images/icons/google-plus.svg"
                    alt="Icon"></a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-lg-2 d-md-flex justify-content-lg-center">
            <div class="footer-links">
              <h2 class="footer-title mob collapsed" data-bs-target="#links" data-bs-toggle="collapse">
                LINKS
                <span class="footer-toggler"><img loading='lazy' src="assets/images/icons/down-arrow.svg"
                    alt="Arrow"></span>
              </h2>
              <ul id="links" class="collapse foot-mob" data-bs-parent="#foot-accordiun">
                <li><a href="index.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="schedule.html">Schedule</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 d-md-flex justify-content-md-center">
            <div class="footer-links">
              <h2 class="footer-title mob" data-bs-target="#policies" data-bs-toggle="collapse">OPENING HOURS
                <span class="footer-toggler"><img loading='lazy' src="assets/images/icons/down-arrow.svg"
                    alt="Arrow"></span>
              </h2>
              <ul id="policies" class="collapse foot-mob" data-bs-parent="#foot-accordiun">
                <li class="d-flex">
                  <p>Monday-Friday</p>
                  <span>9:00 AM - 9:00 PM</span>
                </li>
                <li class="d-flex">
                  <p>Saturday </p>
                  <span>9:00 AM - 6:00 PM</span>
                </li>
                <li class="d-flex">
                  <p>Sunday</p>
                  <span>Closed</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-5 col-lg-3 d-md-flex justify-content-md-center">
            <div class="footer-contact footer-links">
              <h2 class="footer-title mob" data-bs-target="#contact" data-bs-toggle="collapse">CONTACT US
                <span class="footer-toggler"><img loading='lazy' src="assets/images/icons/down-arrow.svg"
                    alt="Arrow"></span>
              </h2>
              <ul id="contact" class="collapse foot-mob" data-bs-parent="#foot-accordiun">
                <li class="contacts">
                  <img loading='lazy' src="assets/images/icons/foot-call.svg" alt="Icon" class="my-icon">
                  <div class="call">
                    <p class="text"><a href="tel:+123-1234-123">123-1234-123</a></p>
                    <p class="text"><a href="tel:+003-1234-123">003-1234-123</a></p>
                  </div>
                </li>
                <li class="contacts">
                  <img loading='lazy' src="assets/images/icons/foot-mail.svg" alt="Icon" class="my-icon">
                  <div class="call">
                    <p class="text">
                      <a href="mailto:support@Gymfit.com">fitness@yourdomain.com</a>
                    </p>
                    <p class="text">
                      <a href="mailto:support@Gymfit.com">fc@yourdomain.com</a>
                    </p>
                  </div>
                </li>
                <li class="contacts">
                  <img loading='lazy' src="assets/images/icons/foot-map.svg" alt="Icon" class="my-icon">
                  <div class="call">
                    <p class="text location">
                      1011 Santa Moniac boulevard <br> 1025
                      Los Angeles <br> </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="social-icon">
            <a href="#!" aria-label="Facebook"><img loading='lazy' src="assets/images/icons/facebook.svg"
                alt="Icon"></a>
            <a href="#!" aria-label="Twitter"><img loading='lazy' src="assets/images/icons/twitter.svg" alt="Icon"></a>
            <a href="#!" aria-label="Instagram"><img loading='lazy' src="assets/images/icons/instagram.svg"
                alt="Icon"></a>
            <a href="#!" aria-label="Google Plus"><img loading='lazy' src="assets/images/icons/google-plus.svg"
                alt="Icon"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-footer">
      <div class="container">
        <p>© 2022 <span>GYMFIT</span>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- Footer end -->

  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>