.name-seo{
    font-size: 15px;
    color: #333;
}
.url-seo{
    font-size: 12px;
    font-weight: 500;
    color: green;
}
.img-seo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.title-customize{
    font-size: 20px;
    font-weight: 500;
    color: #1a0dab;
}
.title-customize-small{
    font-size: 14px;
    color: #4d5156;
}
#cke_2_contents{
    height: 400px !important;
}
.input-group-customize{
    display: flex;
}
.select2 {
    width: 100% !important;
}
.select2-selection{
    border-radius: 3px !important;
    border: 1px solid #ebeef4 !important;
    font-size: 15px !important;
}
.select2-container--default{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}
.select2-container--default .select2-selection--single{
    border-color: #ebedf2 !important;
    display: flex !important;
    align-items: center !important;
    padding: 15px;
}
.select2-selection__arrow{
    padding: 15px;
}
input[name=link]{
    color: navy !important;
    font-weight: 600;
}
.customize-width{
    width: 200px;
}
.customize-width .btn-custom{
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 3px;
}

.customize-width .btn-custom.primary{
    background-color: #1576D0;
    color: #fff;
}
.customize-width .btn-custom.success{
    background-color: #39D127;
    color: #fff;
}
.customize-width .btn-custom.danger{
    background-color: #F02536;
    color: #fff;
}