.name-seo{
    font-size: 15px;
    color: #333;
}
.url-seo{
    font-size: 12px;
    font-weight: 500;
    color: green;
}
.img-seo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.title-customize{
    font-size: 20px;
    font-weight: 500;
    color: #1a0dab;
}
.title-customize-small{
    font-size: 14px;
    color: #4d5156;
}
#cke_2_contents{
    height: 400px !important;
}
.input-group-customize{
    display: flex;
}
.select2 {
    margin-top: 10px !important;
    width: 100% !important;
}
.select2-selection{
    border-radius: 3px !important;
    border: 1px solid #ebeef4 !important;
    font-size: 15px !important;
}