.my-custom-class {
    display: none;
    padding: 15px !important;

  }
  
  @media (min-width: 700px) {
    .my-custom-class {
      display: block !important;
    /* padding: 15px !important; */

    }
  }
  