.nav-link.account {
    position: relative;
    cursor: pointer;
}

.notification-count {
    top: -8px;
    right: -8px;
    background-color: #f44336;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
    text-align: center;
}

.notifications {
    position: absolute;
    top: 110%;
    right: 0;
    width: 360px;
    max-height: 85vh;
    overflow-y: auto;
    background-color: #242529;
    border: 1px solid #334155;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none; /* Ẩn mặc định */
    padding: 0;
    scrollbar-width: none;
}

.notifications li {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    margin: 0;
    transition: background-color 0.3s ease;
}

.notifications li.unread {
    background-color: #343435;
}

.notifications li.unread:hover {
    background-color: #34495e;
}

.notifications li i {
    color: #64b5f6;
    margin-right: 10px;
    font-size: 18px;
}

.notifications li .content {
    display: flex;
    flex-direction: column;
}

.notifications li a {
    text-decoration: none;
    color: #e2e8f0;
    font-size: 14px;
    margin-bottom: 5px;
}

.notifications li .date {
    color: #a0aec0;
    font-size: 12px;
}
